
{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Riya Gaur Portfolio</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="/static/images/riya1.jpg" >
					<hr>
					<h4>Hi I'm Riya!</h4>
					<p>I love coding, doing research, learning and collaborating</p>
					<a href="static/images/RiyaGaur_Python_django_developer.pdf">
					  <button class="btn btn-info">Resume</button>
					</a>
<!--				    <button a class="btn btn-secondary" src="{% static 'resume/RiyaGaur_Python_django_developer.pdf' %}">-->
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>I wrote my first python program in the month of December , then I realize coding is not tough and I search on google how to create website using python , google suggest me to learn Django then I learn Django and create my portfolio website (https://riyaagaur21.herokuapp.com) now I am comfortable in Python/Django , and looking for a job in a good company.</p>




					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>As a Python/Django developer</p>
					<p>I Designed, built and managed a Portfolio website(https://riyaagaur21.herokuapp.com) as a sole developer through this website i tried to put all concepts which i learn during my coding journey. This website is a good combination of html,css,bootstrap and i used MVT pattern to show my previous project other then this.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Skills</h5>
					<hr>
					<p>Python, Django, HTML/CSS/JAVASCRIPTS, Bootstrap, Sqlite3, MySql,PostgreSQL ;)</p>
					<p>And also Knowledge of Googlesheet , Excel. </p>
					<p>Currently I am working on django rest project.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Learning Process</h5>
					<hr>
					<p>I am not a mechanic but a MECHANICAL ENGINEER -<br>Casting the world, Forging the campus, Shaping the universe, Welding the rest of all branches, But, We are the people, So I had decided to again reshape the universe with the help of Software Skills . that's why i choosed to switch my career in IT field. </p>


				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>I am learning and improving my python & django skills and my short term goal is to become a better developer in future</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>